<footer class="footer">

    <div class="footer-col-wrapper">
        <div class="col-sm-3">
            <ul class="socials-list">
                <li>
                    <img src="/assets/icon-x.svg" alt="" class="icon">
                    <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener noreferrer">Twitter</a>
                </li>
                <li>
                    <img src="/assets/icon-linkedin.svg" alt="" class="icon">
                    <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="noopener noreferrer">LinkedIn</a>
                </li>
                <li>
                    <img src="/assets/icon-github.svg" alt="" class="icon">
                    <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener noreferrer">GitHub</a>
                </li>
            </ul>
        </div>
    
        <div class="col-sm-9">
            <p>{{ site.description | escape }}</p>
            <p>Subscribe via <a href="/rss/">RSS</a></p>
        </div>

    </div>
  
  </footer>
  