---
---
@import "minima";
@import "fonts";

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --c-light-text: #333;
  --c-light-background: #fff;
  --c-light-focus: #00ff00;
  --c-light-interactive: #007bff;
  --c-light-callout: #e6f2ff;
  --c-dark-text: #fff;
  --c-dark-subtext: #a6a6a6;
  --c-dark-background: #333;
  --c-dark-focus: #00ff00;
  --c-dark-interactive: #66b0ff;
  --c-dark-callout: #004a99;
  --c-text: var(--c-light-text);
  --c-background: var(--c-light-background);
  --c-focus: var(--c-light-focus);
  --c-interactive: var(--c-light-interactive);
  --c-callout: var(--c-light-callout)
}

*,
::after,
::before {
  box-sizing:border-box
}


// Define defaults for each variable.
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 100%
}

.posts {
  margin-left: auto;
  margin-right: auto
}

body,
p,
pre {
  font-family: $merriweather, Georgia, Times, serif
}

h1 {
  margin-bottom: .5rem
}

.header h1 {
  font-size:24px;
  font-family:$montserrat, Helvetica, sans-serif;
  text-transform:lowercase;
  margin-top:0;
  margin-bottom:0;
  line-height:40px;
  padding-bottom:19px
}

h4 {
  font-weight: 500;
  line-height: 1.2
}

ul {
  margin-top:0;
  margin-bottom:.5rem
}

ul ul {
  margin-bottom: 0
}

ol,
p,
pre,
ul {
  margin-bottom:1.8rem
}

body,
pre {
  color: var(--dark)
}

code {
  font-family: $fira-code, Menlo, Monaco, Consolas, liberation mono, courier new, monospace
}

pre {
  overflow: auto;
  display: block
}

figure {
  margin: 0 0 1rem
}

img {
  vertical-align: middle;
  border-style: none
}

a {
  text-decoration: none;
  background-color: transparent;
  color: var(--c-interactive)
}

figure,
footer {
  display:block
}

figure {
  margin:0 0 1rem
}

/* New styles for code tags within links */
a code {
  border: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline
}

hr {
  box-sizing:content-box;
  overflow:visible;
  margin-top:1rem;
  border:0;
  height:1px;
  color:#d9d9d9;
  background-color:#d9d9d9
}


.container {
  width:100%;
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto
}

.container>hr {
  margin:30px 0
}

.container>ul {
  margin-left: 0px;
  padding-left: 40px;
}

@media(min-width:750px) {
  .container {
    max-width:750px
  }
}

li {
  margin:0 20px 0 0
}

.home>hr {
  margin: 3rem;
}

.site-title {
  margin-bottom: 1.15em
}

.about-page {
  display: flex;
  flex-wrap: wrap;
}

.about-page .about-image {
  flex: 1 1 50%;
  /* Adjusts to take half the space */
  /* Optional: Add padding or margin as needed */
}

.about-page .about-image img {
  width: 50%;
  /* Adjust based on your preference */
  max-width: 200px;
  /* Adjust to control the image size */
  height: auto;
  /* Maintains aspect ratio */
  border-radius: 50%;
  /* This makes the image round */
  display: block;
  /* For centering, if needed */
  margin: 0 auto;
  /* Center the image inside its container */
}

.about-page .about-text {
  flex: 1 1 50%;
  /* Adjusts to take half the space */
  /* Optional: Add padding or margin for spacing */
}

.archive {
  margin-top: -1em;
  margin-bottom: 2.5em
}

.cp {
  padding: 0;
}

.cp-title {
  font-family: $merriweather, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 0
}

.cp-title a {
  border-bottom: none;
  color: #333
}

.cp-title a:hover {
  color: var(--indigo);
  text-decoration: none
}

.cp-date {
  font-size: .8em;
  font-family: $montserrat, Helvetica, sans-serif;
  margin-top: -.1em;
  color: #8c8c8c
}

.cp-listing {
  margin-bottom: 2em
}

.cp-desc {
  font-family: raleway, Helvetica, sans-serif;
  font-size: .85em;
  margin: 0;
  color: #8c8c8c
}


.tag,
a.tag {
  display: inline-block;
  vertical-align: central;
  font-family: monospace;
  font-size: 90%;
  line-height: 1.5em;
  padding: 0 .5em;
  color: var(--indigo);
  background-color: #f2f2f2;
  border-radius: 5px
}

a.tag:hover {
  color: #fff;
  background-color: var(--indigo);
  text-decoration: none
}

.home-title {
  font-size: 1rem;
  display: inline
}

.home-bullets li {
  margin-left:-22px;
  margin-bottom:12px
}

.home-bullets-posts li {
  margin-left:-38px;
  margin-bottom:10px;
  list-style:none
}
