---
layout: default
---

<h1>Tag: <p class="tag">{{ page.title }}</p></h1>

<div class="archive">
    {% capture temptags %}
    {% for tag in site.tags %}
      {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
    {% endfor %}
  {% endcapture %}
  {% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
  {% for temptag in sortedtemptags %}
    {% assign tagitems = temptag | split: '#' %}
    {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
    <a href="/tag/{{ tagname }}" class="tag">{{ tagname }}</a>
  {% endfor %}
</div>

<div>
  <ul class="posts cp">
    {% for post in page.posts %}
      <div class="cp-listing">
        <h4 class="cp-title">
          <a href="{{ post.url | relative_url }}" class="post-link">{{ post.title }}</a>
        </h4>
        <p class="cp-desc">{{ post.excerpt }}</p>
        <p class="cp-date">
          {{ post.date | date: "%d %b %Y" }}
          ·
          {% for tag in post.tags %}
            <a href="/tag/{{ tagname }}" class="tag">{{ tag }}</a>
          {% endfor %}
        </p>
      </div>
    {% endfor %}
  </ul>
</div>

