---
layout: base
---

<div class="post">
    <h1 class="post-title"> {{ page.title }} </h1>

    <p class="post-info">
      <span class="no-italics">[
        {% for tag in page.tags %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
          <a href="/tag/{{ tag_name }}" class="tag">{{ tag_name }}</a>
        {% endfor %}
      ]</span>
      ·  {% include reading-time.html %}
    </p>

    {{ content }}
</div>

<hr>

<script src="https://utteranc.es/client.js"
        repo="mjt91/mjt91-comments"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
<script src="{{ '/assets/js/anchors.js' | relative_url }}"></script>
